{
  "DATABASE_URL": "postgresql://user:pass@host.neon.tech/dbname?sslmode=require",
  "BETTER_AUTH_SECRET": "your-32-char-secret",
  "BETTER_AUTH_URL": "https://your-production-domain.com",
  "NEXT_PUBLIC_BASE_URL": "https://your-production-domain.com",
  "NEXT_PUBLIC_MAIN_URL": "https://your-production-domain.com",
  "NEXT_PUBLIC_HIRING_URL": "https://hiring.your-domain.com",
  "NEXT_PUBLIC_UNI_URL": "https://uni.your-domain.com",
  "NEXT_PUBLIC_ADMIN_URL": "https://admin.your-domain.com",
  "GOOGLE_CLIENT_ID": "",
  "GOOGLE_CLIENT_SECRET": "",
  "GITHUB_CLIENT_ID": "",
  "GITHUB_SECRET_ID": "",
  "RESEND_API_KEY": "",
  "OPENAI_API_KEY": "",
  "ANTHROPIC_API_KEY": "",
  "SARVAM_API_KEY": "",
  "EXA_API_KEY": "",
  "CLOUDINARY_CLOUD_NAME": "",
  "CLOUDINARY_API_KEY": "",
  "CLOUDINARY_API_SECRET": "",
  "DODO_PAYMENTS_API_KEY": "",
  "NEXT_PUBLIC_RAZORPAY_KEY_ID": "",
  "RAZORPAY_KEY_SECRET": "",
  "NEXT_PUBLIC_STANDUP_AGENT_ID": "",
  "NEXT_PUBLIC_MOCK_VOICE_AI_ASSISTANT": "",
  "INTER_PLATFORM_SECRET": "",
  "TRUEFOOL_API_KEY": "",
  "TRUEFOOL_DOMAIN": "",
  "WORKER_API_URL": "",
  "NEXT_PUBLIC_WORKER_URL": "",
  "WORKER_SECRET": "",
  "CRON_SECRET": "",
  "UPSTASH_VECTOR_REST_URL": "",
  "UPSTASH_VECTOR_REST_TOKEN": "",
  "FALAI_API_KEY": "",
  "G_ANALYTICS_ID": "",
  "STUDY_PLAN_ASSISTANT_ID": "",
  "AI_PROJECT_GENERATOR_ASSISTANT_ID": "",
  "PATHFINDER_ASSISTANT_ID": "",
  "GITHUB_NIRAJ_JHA_TOKEN": ""
}
